<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Template</title>
        <style>
            body {
                background-image: url("https://awscc-photobooth-app.s3.ap-southeast-1.amazonaws.com/assets/frame.png");
                /* background-size: 3060px 2048px; */
            }
            img {
                width: 4912px;
                height: 3324px;
                position: absolute;
                top: 88px;
                left: 604px;
            }
        </style>
    </head>
    <body>
        <img src="{{ IMG_LINK }}" alt="" />
    </body>
</html>
